body,
#root,
.App {
  height: 100vh;
  font-family: 'Roboto';
}
.text-white-tone {
  color:#f1eded;
}

input[type="text"] {
  height: 42px;
  border-radius: 4px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

