body,
#root,
.App {
  height: 100vh;
}
.text-white-tone {
  color:#f1eded;
}
.h1, h1 {
  font-size: 1.5rem!important;
}
.fw-medium {
  font-weight: 500;
}

@tailwind base;
@tailwind components;
@tailwind utilities;